
/images_gif
/img
/csv
/Jupyter Notebook
/tkinter/client/__pycache__
/tkinter/img
/tkinter/csv
.ipynb_checkpoints
/Shapefile
comandos_para_merge_NetCDF.txt
modulos_anaconda.txt
__pycache__
datetime.txt
*.nc
Tesis compañeros anteriores - Shortcut.lnk
Videos para defensa - Shortcut.lnk
Codgio fuente escasez_hidrica - Shortcut.lnk