
/images_gif
/img-gif
/csv
/Jupyter Notebook
/tkinter/client/__pycache__
/tkinter/img
/tkinter/csv
__pycache__
datetime.txt
Tesis compañeros anteriores - Shortcut.lnk
Videos para defensa - Shortcut.lnk
Codgio fuente escasez_hidrica - Shortcut.lnk